.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  text-align: center;
}
.teams {
  display: flex;
  flex-direction: column;

}
.teamContainer {
  display: flex;
  border: 3px solid black;
}
.counterApp {
  text-align: center;
}
.buttonMoins {
  border-radius: 30px;
  font-size: 30px;
  background-color: black;
  color: wheat;
  padding: 0px 20px;
}
.buttonPlus {
  border-radius: 30px;
  font-size: 30px;
  background-color: black;
  color: wheat;
  padding: 0px 17px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.picture {
  width: 90px;
  justify-content: center;
}
h2 {
  text-align: center;
}
.teamsCard {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
  gap: 20px;
}
.teamInfo {
  border: 5px solid black;
  padding: 20px 20px;
  border-radius: 20px;
}